{% extends "_layout.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<h1>When should Paul leave for work?</h1>
<p class="error">Minimuni is currently broken, probably because of a problem getting data.
This is fake data to show how it looks when everything is working.</p>
<ul>

      <li class="gone">
        The J to  Downtown is leaving now from Sunset Tunnel East Portal
      </li>
      <li id="next">
        Go in <b>3</b> minutes to get the <b>J-Church</b>
        <br><small>leaving in 7 mins from Church St &amp; Duboce Ave
        <br>going to  Downtown</small>
      </li>
      <li >Go in <b>4</b> minutes to get the <b>T-Third</b>
        <br><small>leaving in 9 mins from Church St Station
        <br>going to  Visitacion Valley via Downtown</small>
      </li>
      <li >Go in <b>5</b> minutes to get the <b>N-Judah</b>
        <br><small>leaving in 7 mins from Sunset Tunnel East Portal
        <br>going to  Caltrain via Downtown</small>
      </li>
      <li >Go in <b>6</b> minutes to get the <b>M-Ocean</b>
        <br><small>leaving in 12 mins from Church St Station
        <br>going to  Downtown</small>
      </li>

</ul>
<p class="about"><a href="/about/">Uh? What is this? Who is Paul?</a></p>

  </div>

{% endblock %}