{% extends "_layout.html" %}

{% block title %}About Minimuni{% endblock %}

{% block content %}
  <h1>Uh? What is this? Who is Paul?</h1>
  <p>Hello! I'm <a href="http://www.paulhammond.org/">Paul Hammond</a>, and I made <a href="/">Minimuni</a> so I don't have to rush to catch the San Francisco Muni in the morning.</p>
  <p>If you live exactly 2 minutes from Sunset Tunnel East Portal, 4 minutes from Duboce and Church, and 6 minutes from Church Station you may find it useful too.</p>
  <p>I'm sorry it's not more helpful for you if you live somewhere else.</p>
  
  <p>Minimuni is hosted by <a href="http://code.google.com/appengine/">Google App Engine</a> and the source code is on <a href="http://github.com/paulhammond/minimuni/">GitHub</a>.</p> 

  <p>I have a <a href="http://www.paulhammond.org/">personal website</a>, which (among other things) includes <a href="http://www.paulhammond.org/2008/12/minimuni/">a lot more detail about how and why I made this thing</a>.</p>

{% endblock %}