{% extends "_layout.html" %}

{% block title %}About Minimuni{% endblock %}

{% block content %}
  <h1>About Minimuni</h1>
  <p>Hello! I'm <a href="http://www.paulhammond.org/">Paul Hammond</a>, and I made <a href="/">Minimuni</a> in 2008 so I didn't have to rush to catch the San Francisco Muni in the morning.
  <p>If you live exactly 2 minutes from Sunset Tunnel East Portal, 4 minutes from Duboce and Church, and 6 minutes from Church Station you may find it useful too. I'm sorry it's not very helpful for people that live somewhere else.</p>
  <p>I wrote more <a href="http://www.paulhammond.org/2008/12/minimuni/">about how and why I made this thing</a> on <a href="http://www.paulhammond.org/">my website</a>.
  <p>Minimuni is hosted by <a href="http://code.google.com/appengine/">Google App Engine</a> and the source code is on <a href="http://github.com/paulhammond/minimuni/">GitHub</a>.</p> 

{% endblock %}