{% extends "_layout.html" %}

{% block content %}
  <h1>When should {{who}} leave for work?</h1>
  <ul>
  {% for train in trains %}
    {% if train.display %}
      {% if train.is_past %}
        <li class="gone">
          The {{train.route_short}} 
          {% if train.show_destination %}
            to {{train.destination}}
          {% endif %}
        
          {% if train.time %}
            leaves in {{train.time}} min{{train.time|pluralize }}
          {% else %} 
            is leaving now
          {% endif %}
          from {{train.stop_short}}
        </li>
      {% else %}
        <li {% ifchanged train.is_past %}id="next"{% endifchanged %}>Go 
          {% if train.timeleft %}
            in <b>{{train.timeleft}}</b> minute{{train.timeleft|pluralize }}
          {% else %}
            <b>now</b>
          {% endif %}
          to get the <b>{{train.route}}</b><br><small>leaving in {{train.time}} min{{train.time|pluralize }} from {{train.stop}}
          {% if train.show_destination %}
            <br>going to {{train.destination}}
          {% endif %}
          </small>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
  <p class="about"><a href="/about/">Uh? What is this? Who is Paul?</a></p>
{% endblock %}